@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root{
    --col1: #c69846;
    --col2: #fc0007;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height:1.5;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--col1);
}

.section{
    padding: 1em 2em;
}

.navbar{
    background-color: transparent;
    position: relative;
    z-index:5;
    padding: 1em;
    color:#fff;
    
    a{
        color:#fff;
    }

    .logo-text{
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 1.5em;
        color: #fff;
        text-transform: uppercase;

        span{
            color: var(--col1);
        }
    }

    .laptop-nav-logo{
        display:none
    }

    ul{
        display: flex;
    }

    .container{
        max-width: 1200px;
        margin: 0 auto;
        overflow:auto;
        padding-bottom: 0.5em;
        border-bottom: 1px #dadada solid;
    }

    .flex{
        display:flex;
        justify-content: space-between;
        align-items: center;
        height:100%;
    }

    nav{
        display: none;
    }

    .mobile-menu{
        cursor: pointer;
    }
}

/*
.flex{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
*/

.hero{
    position:absolute;
    top:0;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width:100%;
    background: linear-gradient(rgba($color: #000000, $alpha: 0.7),
                                rgba($color: #000000, $alpha: 0.7)),
                center 
                no-repeat
                url("../images/hero-bg.jpg");
    color:#fff;
    text-align: center;
    padding: 2em 2em 4em 2em;

    .hero-text-logo{
        display:none;
    }

    .hero-logo{
        width:60%;
        margin: 3em 1.75em 1em 1.75em;
    }

    .hero-subhead{
        text-transform: uppercase;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 1.2em;
        letter-spacing: .1em;
        padding: 0em 1.5em;
        margin-top: 2em;
        margin-bottom: 2em;

    }

    blockquote{
        margin: 1.5em;
        font-size: 1.3em;
        color:#fff;
    }

    .apply-btn{
        background-color: var(--col1);
        color: #000;
        font-size: 1.5em;
        font-weight: 700;
        padding: 0.6em 1.2em;
        margin-bottom: 1.5em;
        border-radius: 5em;
    }
}
